@import "./component/header.scss";
@import "./component/form.scss";
@import "./component/main.scss";
@import "./base/button.scss";
@import "./base/text-danger.scss";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    height: 100vh;
}
